<div class="container text-center">
  <form method='POST' action='/login'>
    <p id='styled'> Username: </p> <br>
    <input type="text" id='username' name='username'><br></br>
    <p id='styled'> Password: </p> <br>
    <input type="text" id="password" name="password"><br></br>
    <input type="submit" id="submit" value="Login">
  </form>
</div>
