<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<div class="container text-center">
  <br>
  <form method='POST' action='/login'>
    <p class="styled"> Username: </p>
    <input type="text" id='name' name='name'><br></br>
    <p class="styled"> Password: </p>
    <input type="text" id="password" name="password"><br></br>
    <input type="submit" id="submit" value="Login">
  </form>
</div>
