<div class="container text-center">
  <br>
  <form method='POST' action='/signup'>
    <p class="styled"> Username: </p>
    <input type="text" id='name' name='name'><br></br>
    <p class="styled"> Email: </p>
    <input type="text" id='email' name='email'><br></br>
    <p class="styled"> Password: </p>
    <input type="text" name='password'><br></br>
    <input type="submit" value="Sign Up">
  </form>
</div>
