<div class="container text-center">
  <h2>Edit Recipe Here:</h2>
  <form action='/recipes/<%=@recipe.id%>/edit' method="post">
    <input type="hidden" name="_method" value="patch">
    <input type="submit" id="submit" value="Update Recipe">
  </form>
</div>
