<div class="container text-center">
  <h2> <%=@recipe.name%> </h2> <br>
  <p> <%=@recipe.ingredients%> </h2> <br>
  <p> <%=@recipe.time%> </h2> <br>
  <p> <%=@recipe.weekday%> </h2> <br>
  <a class="btn btn-default btn-lg" href='/recipes/edit_recipe'>Edit Recipe</a>
</div>
