<!doctype html>
<html>
  <head>
    <title>Daily Bread</title>
  </head>
  <body>

    <div class="container">
      <h1 class="text-center">Welcome to Daily Bread, your weekly meal planner!</h1>
      Your source for weekly meal planning inspiration.
      Here you'll be able to create your own recipes, view others to have a
      delicious, nutritious and stress-free week!
      <br>
      </br>
      <a class="btn btn-default" href='/signup'>Sign Up</a>
      <a class="btn btn-default" href='/login'>Log In</a>
      <!-- <h2><a href='/signup'>Sign Up</a></h2>
      <h2><a href='/login'>Log In</a></h2> -->
    </div>

  </body>
</html>
