<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <title>Daily Bread</title>
  </head>
  <style>
      body, html {
      height: 100%;
      margin: 0;
    }

    .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('http://www.toptenz.net/wp-content/uploads/2014/12/vegitarianfoods10.jpg');
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }

    .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    }

    h1 {
      font-size:80px;
      font-family: 'Pacifico', cursive;
    }

    h2 {
      font-size: 45px;
      border-top: double;
      border-bottom: double;
    }

    p.styled {
      font-size: 20px;
      font-family: 'Pacifico', cursive;
    }

    .container .btn:hover {
    background-color: lightblue;
    color: white;
    }

    input[type=button], input[type=submit]{
        background-color: lightblue;
        color: gray;
        padding: 10px 22px;
        margin: 10px;
    }

    input[type=text] {
        border: 2px solid gray;
        border-radius: 4px;
        padding: 15px;
    }

    input[type=text]:focus {
        background-color: lightblue;
    }
  </style>

  <body>
    <div class="hero-image">
      <div class="hero-text">
        <h1>Daily Bread</h1>
      </div>
    </div>
    <%=yield%>
  </body>
</html>
